/*variables titulos*/
$colorTituloH1:white;
$colorTituloH2:white;

$colorTituloH2Fondo:black;

/*variables menu*/
$colorFondoMenu:black;
$colorTextoMenu:white;

$colorMenuActivo:#FF7800;
$colorMenuHover:#FF7800;

$colorMenuBurger:#FF7800;/*no funciona en boostrap*/
$colorMenuBurgerBoton:white;

/*variables fondo*/
$fondoLogo : white;
$fondoSection:white;
$fondoBlog : white;

/*variables Card Articulo*/
$colorBorderArticulo:#FF7800;

/*inmueble*/
$colorTextoDest:#FF7800;

/*variables boton*/
$colorBoton:#FF7800;
$coloBotonHover:#d3690dec;
$colorBotonTexto:white;

/*varible hr o linea horizontal*/
$colorLinea:#FF7800;

/*variable Blog y contacto*/
$colorDestacadoTexto:#FF7800;

/*footer*/
$colorFooterTexto:white;/*para texto y icono imagen*/
$colorFondoFooter:black;
$colorFooter:silver;/*no hover*/
$colorFooterHover:#FF7800;