/*-------------------------------------------------*/
/*blog*/

.seccion_blog{
    background-color: $fondo2;
    padding: 5px;
    margin: 0 10%;/* Margen superior e inferior | margen izquierdo y derecho */
    .row{
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100%;
    }
    .anucio_blog{
        @extend .max_ancho;
        .blog_destacado{
            font-weight: bold;
            color: $colorTexto3;
        }
    }
}
