/*-------------------------------------------------*/
/*boton*/
/*@mixin de atributo boton*/
@mixin font-wheightBackground-colorColor($tipo,$fondo,$color){
    font-weight: bold;
    background-color: $fondo;
    color:$color;
}

.btn{
    @include font-wheightBackground-colorColor(bold,$color3,$color2);
    border :1px solid $color3;
}

.btn:hover{
    @include font-wheightBackground-colorColor(bold,$color4,$color2);
}