/*-------------------------------------------------*/
/*boton*/
/*@mixin de atributo boton*/
@mixin font-wheightBackground-colorColor($tipo,$fondo,$color){
    font-weight: bold;
    background-color: $fondo;
    color:$color;
}

.btn{
    @include font-wheightBackground-colorColor(bold,$fondo3,$colorTexto2);
    border :1px solid $fondo3;
}

.btn:hover{
    @include font-wheightBackground-colorColor(bold,$fondo4,$colorTexto2);
}