/*-------------------------------------------------*/
/*footer*/

footer{
    /*background-image: url(../assets/pie.PNG);*/
    background-color: $fondo1;
    .footer-text {
        color:$colorTexto2;
        font-weight: bold;
    }
}

.boton_social{
    display: inline-block;
    min-height:  30px;
    width: 30px;
    background-color: $fondo5;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color:$colorTexto2;
}

.boton_social:hover{
    background-color: $fondo3;
    animation:flip;
    animation-duration:2s;
}
