/*inmuebles e index*/
.seccion_inmuebles{
    background-color: none;
    img{
        width: 100%;
    }
} 

.contenedorInfo {
    display: flex;
    justify-content: space-evenly; /* Espacios entre los elementos */
    margin-top: 5px;
    margin-bottom: 5px;
}

.item {
    display: flex;
}

.item span {
    margin-right: 10px; /* Espacio entre el número y la imagen */
    font-weight: bold;
}

.item img {
    background-color: none;
    width: none; /* Tamaño de las imágenes */
    height: none;
}

.seccion_inmuebles .card-text{
    @include card-text_dimension(210px,none);
    // height: 210px;
}

.infoInmuebles{
    display: flex;
    justify-content: space-evenly;
}

.textoDest{

    font-size:1.5rem;
    color:$color3;
    margin: 15px;
    font-weight: bold;
}

.precio{
    @extend .textoDest;
}

.estado{
    @extend .textoDest;
}