/* -------------------------------------------------- */
/* media cambio de resolucion pantalla*/

@mixin paddingDisplayFlex-direction($num){/*num o %*/
    padding-top: $num;
    display:flex;
    flex-direction: column;
}



/* Cambio al llegar 1024px y superior de pantalla 1024 */
@media (min-width: 1024px){ 

    /*contacto*/
    .formulario_contacto form{
        margin: 0 300px;
    }

    .margen_mapa{
        margin: 0 250px;
    }

    .info_mapa{
        @include paddingDisplayFlex-direction(30%);
    }
}
@media (max-width: 1230px) { 
    // personal
    .seccion_personal .card-text{
        @include card-text_dimension(400px,none);
        
    }
    // inmuebles
    .seccion_inmuebles .card-text{
        @include card-text_dimension(300px,none);
        
    }

    .seccion_inmuebles .index_inmueble{
        @include card-text_dimension(auto,none);
        
    }
}
/* Cambio al llegar 800px de pantalla  (min-width: 800px)*/
@media (max-width: 800px) { 

    /*contacto*/
    .contenedor_section {
        padding: 10px;
    }
    .formulario_contacto form{
        margin: 0 40px;
    }

    .info_mapa{
        @include paddingDisplayFlex-direction(0);
        p{
            text-align: center;
        }
    }
    /*servicios*/
    .seccion_servicios .card-text{
        @include card-text_dimension(160px,none);
        
    }
    /*inmuebles*/
    .seccion_inmuebles .card-text{
        @include card-text_dimension(300px,none);
        
    }

    .seccion_inmuebles .index_inmueble{
        @include card-text_dimension(auto,none);
        
    }

    /*personal*/
    .seccion_personal .card-text{
        @include card-text_dimension(400px,none);
        
    }

}
/* Cambio al llegar 480px de pantalla*/
@media (max-width: 480px) { 

    /*blog*/
    .seccion_blog{
        margin: 0;/* Margen superior e inferior | margen izquierdo y derecho */
    }

    .contenedor {
        max-width: auto;
        margin: 0 20px;/* Margen superior e inferior | margen izquierdo y derecho */
    }

    /*contacto*/
    .formulario_contacto form{
        margin: 0 10px;
    }

    .info_mapa{
        @include paddingDisplayFlex-direction(0);
        p{
            text-align: center;
        }
    }
    /*servicios*/
    .seccion_servicios .card-text{
        @include card-text_dimension(auto,none);
        
    }
    /*inmuebles*/
    .seccion_inmuebles .card-text{
        @include card-text_dimension(auto,none);
        
    }
    /*personal*/
    .seccion_personal .card-text{
        @include card-text_dimension(auto,none);
        
    }
}