/*-------------------------------------------------*/
/*Quienes Somos*/


/*seccion personal*/
.seccion_personal{
    background-color: none;
    img{
        width: 5rem;
        border-radius: 50%;
        margin-top: 5px;
        text-align: center;
        min-height: 1rem;
    }

}
.max_ancho{
    max-width: 100%
}

.centrado_vertical{
    align-items: center;
}

/*define tamaño de la card personal*/
.seccion_personal .card-text{
    height: 180px;
}

.somos_qsomos{
    @extend .max_ancho;
    .row{
        @extend .centrado_vertical;
    }
    
}
