/*-------------------------------------------------*/
/*servicios*/

/*servicos e index*/
.seccion_servicios{
    background-color: none;
    img{
        width: 5rem;
        padding-top: 5px;
    }
}

.logo_animado:hover{
    img{
        background-color: none;/*$fondoLogo*/
        animation:tada;
        animation-duration:2s;
    }
}

.seccion_servicios .card-text{
    @include card-text_dimension(180px,none);
    // height: 180px;
    
}

.somos_servicio{
    @extend .max_ancho;
    .row{
        @extend .centrado_vertical;
    }
}
