
/*Reset de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Roboto",sans-serif;
}

h2{
    font-family: "Roboto",sans-serif;
}

h3{
    font-family: "Alegreya Sans",sans-serif;
}

p{
    font-family: "Alegreya Sans",sans-serif;
    text-align:justify;
}

.titulo_h1{
    background-color: none;
}

.titulo_h1 h1{
    text-align:center;
    color: white;
}

.titulo_h2{
    background-color: black;
    border-top-right-radius: 50px;
}

.titulo_h2 h2{
    text-align:center;
    color: white;
}



/* -------------------------------------------------- */
/*menu*/
.logo{
    width: 65%;
}
.logo img{
    width: 50%;
}

.fondo_menu{
    background-color: black;
}
.color-texto{
    color:white;
}

.activo{
    font-weight: bold;
    color: #FF7800;
}

/* menu cambia de color al pasar */
.navbar a:hover{
    font-weight: bold;
    color: #FF7800;
}

.navbar {
    --bs-navbar-toggler-border-color: #FF7800;
    
}

.navbar-toggler{
    background-color: white;
}

.navbar-collapse {
    flex-grow: 0; 
}

.nav-link{
    padding: 0;
}

/* -------------------------------------------------- */
/*banner*/
.mensaje_banner{
    text-align:center;
    font-size: 30px;
}

/* -------------------------------------------------- */
main{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.7791491596638656) 10%, rgba(253,187,45,0.9472163865546218) 100%);
   
    /* background-color: white; */
}
.contenedor {
    max-width: auto;
    margin: 0 40px;/* Margen superior e inferior | margen izquierdo y derecho */
}

.fondo_borde{
    border-top-right-radius: 50px;
    background-color: white;
    /* background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.7791491596638656) 10%, rgba(253,187,45,0.9472163865546218) 100%);
    */
    /* border :1px solid #FF7800; */
    /* padding:10px; */
}

.seccion_servicios img{
    width: 5rem;
    padding-top: 5px;
}

.card{
    border :1px solid #FF7800;
}

.seccion_inmuebles img{
    width: 100%;
}

hr{
    background-color: #FF7800; 
    height: 3px; 
    /* border: 0; */
    border :1px solid #FF7800;
}

.seccion_personal img{
    width: 5rem;
    background-color: aqua;
    border-radius: 50%;
    margin-top: 5px;
    text-align: center;
    min-height: 1rem;
}

/* -------------------------------------------------- */

.btn{

    background-color: #FF7800;
    color:white;
    font-weight: bold;
    border :1px solid #FF7800;
}

.btn:hover{
    background-color: #d3690dec;
    color:white;
    font-weight: bold;
}

.estado{
    font-weight: bold;
    color: #FF7800;
}
/* -------------------------------------------------- */
/*quienes somos*/

.somos_qsomos{
    max-width: 100%
}
/* -------------------------------------------------- */
/*servicios*/

.somos_servicio{
    max-width: 100%
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*blog*/

.seccion_blog{
    margin: 0 10%;/* Margen superior e inferior | margen izquierdo y derecho */
}
.seccion_blog .row{
    justify-content: center;
	align-items: center;
}

.seccion_blog img{
    width: 100%;
}


.anucio_blog{
    max-width: 100%
}

.autor_blog > span{
    font-weight: bold;
    color: #FF7800;
}

/* -------------------------------------------------- */
/*contacto*/

.fondo-blanco{/*bg-white*/
    background-color: white;
    padding: 10px 10px;
}

.mapat{
    /* margin: 0 300px; */
    width: 100%;
    height: 500px;
}


.info_mapa span{
    color:#FF7800;
}


/* -------------------------------------------------- */
/*footer*/

footer{
    /*background-image: url(../assets/pie.PNG);*/
    background-color: black;
}

.footer-text {
    color:white;
    font-weight: bold;
}

.boton_social{
    display: inline-block;
    min-height:  30px;
    width: 30px;
    background-color: silver;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color:white;
}

.boton_social:hover{
    background-color: #FF7800
}

/* -------------------------------------------------- */
/* media cambio de resolucion pantalla*/

/* Cambio al llegar 1024px y superior de pantalla 1024 */
@media (min-width: 1024px){ 

    /*contacto*/
    .formulario_contacto form{
        margin: 0 300px;
    }

    .margen_mapa{
        margin: 0 250px;
    }

    .info_mapa{
        padding-top: 30%;
        display:flex;
        flex-direction: column;
    }
}

/* Cambio al llegar 600px hasta 720px de pantalla  (min-width: 600px) and */
@media (max-width: 720px) { 

    /*contacto*/
    .formulario_contacto form{
        margin: 0 40px;
    }

    .info_mapa{
        padding-top: 0;
        display:flex;
        flex-direction: column;
    }
    
    .info_mapa p{
        
        text-align: center;
        
    }
}
/* Cambio al llegar 480px de pantalla*/
@media (max-width: 480px) { 

    /*blog*/
    .seccion_blog{
        margin: 0;/* Margen superior e inferior | margen izquierdo y derecho */
    }

    .contenedor {
        max-width: auto;
        margin: 0 20px;/* Margen superior e inferior | margen izquierdo y derecho */
    }

    /*contacto*/
    .formulario_contacto form{
        margin: 0 10px;
    }

    .info_mapa{
        padding-top: 0;
        display:flex;
        flex-direction: column;
    }
    
    .info_mapa p{
        
        text-align: center;
        
    }

    

}