/*Reset de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Lora",sans-serif;
}

h2{
    font-family: "Lora",sans-serif;
}

h3{
    font-family: "Abhaya Libre",sans-serif;
}

p{
    font-family: "Alegreya Sans",sans-serif;
}

.titulo_banner{
    text-align:center;
    text-decoration: underline;
    text-transform: uppercase;
    /* font-size: 22px; */
}

.titulo_h1{
    text-align:center;
    text-decoration: underline;
    text-transform: uppercase;
    /* font-size: 22px; */
}

.titulo_h2{
    text-align:center;
    /* font-size: 20px; */
}

header{
    background-color: #333333;
}

body{
    font-size: auto;
    background-color: rgba(238, 238, 231, 0.836);
}

.contenedor {
    max-width: auto;
    margin: 0 60px;/* Margen superior e inferior | margen izquierdo y derecho */
}

/* barra */
.barra{
    /* padding-top: 10px; padding superior */
    display: flex;
    justify-content: space-between;
}

/* Navegación */
/* ul{
    list-style: none;
}

.navegacion  a{
    color: white;
    text-decoration: none;

}
.navegacion a:hover{
    color: #FF7800;
} */

/* .navbar{
    
} */

/* .navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    margin : 5px 5px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px 5px;
    display: block;
} */

.navbar a:hover{
    color: #FF7800;
} */

.imagen_banner img{
    height:300px;
    width:100%;
}
/* servicios */

.seccion_servicios{
    margin: 5px 5px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.anuncio_servicio{
    margin: 5px;
    border: #FF7800 1px solid;
    
}

.anuncio_servicio img{
    display:block;
    
}

/* .info_servicio{

} */

/* .seccion_servicios{
    margin: 5px 5px;
}

.anuncio_servicio img{
    margin: 5px;
    height: 75px;
    width:75px;
    
}

.info_servicio{
    background-color: #d5d8dc;
    border: black 1px solid;
}

.info_servicio > h3{
    margin: 5px;
}
.info_servicio > p{
    margin: 5px;
    font-style:italic;
} */

.somos_servicio{
    margin: 5px 5px;
}
.somos_servicio img{
    margin: 5px;
    height: 350px;
    width:400px;
    
}
.somos_servicio > p{
    margin: 5px;
    font-style:italic;
}

/* blog */

.seccion_blog{
    margin: 5px 5px;
}

.anuncio_blog img{
    margin: 5px;
    height: 150px;
    width:150px;
    
}

.info_blog{
    background-color: #d5d8dc;
    border: black 1px solid;
}

.info_blog > h3{
    margin: 5px;
}
.info_blog > p{
    margin: 5px;
    font-style:italic;
}
.autor_blog > span{
    color:#FF7800;
    font-style:normal;
    font-weight: bold;
}

/* inmuebles */

.seccion_inmuebles{
    margin: 5px 5px;
}

.anuncio_inmuebles img{
    padding-top: 5px;
    height: 200px;
    width: 280px;
}

.info_inmuebles{
    background-color: #d5d8dc;
    border: black 1px solid;
}

.info_inmuebles > h2 , h3{
    margin: 5px;
}

.info_inmuebles > p{
    margin: 5px;
    font-style:italic;
}

.info_inmuebles > .estado{
    color:#FF7800;
    font-style:normal;
    font-weight: bold;
}

.ver_inmuebles{
    padding-top: 10px;
}

.ver_inmuebles button{
    margin-left: 50%;
}

/* footer */
footer{
    padding-top: 10px;
    background-color: #333333;
}

.copyright > p{
    color: white;
}

.icono_redes_sociales{
    margin: 0 2px 2px 2px;
}

/* contactos */
.ubicacion{
    padding-top: 10px;
}

.datos_contacto{
    margin: 0 10px;
    color: black;
}

.formulario_contacto{
    padding-top: 10px;
    padding-bottom: 10px;
}